* {
  padding: 0;
  box-sizing: border-box;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer p {
  font-size: 14px;
}

/* Navbar */
nav {
  font-size: 20px;
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

/* Login container */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4c5caf;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #1229ac;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Form container */
.container, .container-registration {
  padding: 30px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Container */
.container h2, .container-registration h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.container-registration label {
  display: block;
  margin-bottom: 5px;
}

.container-registration input, .container-registration select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}
.error {
  color: red;
  font-size: 12px;
}

/* Media Queries */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .login-container, .container {
    width: 90%;
  }
}
